body {
}

main {
    font-family: 'Georgia, serif';font-size: 22px;
    color: black;
}

header {
    background-color: #ccb652e0;
    color: white;
}

h1{
    color: #f178a0;
}



       
/* Dropdown Button */
.dropButton{
background-color: rgba(123, 123, 123, 2);
color: white;
padding: 16px;
font-size: 16px;
border: none;
}   

/* Dr
