<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <title>OtherSchools</title>
    </head>
    <body>
        <main>
            <header>
                <h1 id = "title"><a href="/../index.html">School Connect</a></h1>
            </header>
            </main>
            <div>
                <h1>Meet other Students from Other Schools</h1>
                <h6><a href="/../index.html">Return to Homepage</a></h6>
            </div>
        

        <br>
        <hr>
        <br>
        <p>This is where you find students from other schools</p>
    </body>
</html>