<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <title>StudyGroups</title>
    </head>
    <body>
        <main>
            <header></header>
                <h1 id = "title"><a href= "../index.html">School Connect</a></h1>
            </header>
            </main>
            <div>
                <h1>Find a Study Group</h1>
                <h6><a href= "../index.html">Return to Homepage</a></h6>
            </div>

        <br>
        <hr>
        <br>
        <p>This is where you find a study group</p>
    </body>
</html>