<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <title>Contact Us</title>
    </head>
    <body>
        <main>
            <header>
                <h1 id = "title"><a href="index.html">School Connect</a></h1>
            </header>
            </main>
            <div>
                <h1>Contact Us</h1>
                <h6><a href="index.html">Return to Homepage</a></h6>
            </div>
        <br>
        <hr>
        <br>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
             </thead>
             <tbody>
                 <tr>
                     <td>Virak</td>
                     <td>Something@gmail.com</td>
                 </tr>
                 <tr>
                    <td>Cody</td>
                    <td>something@gmail.com</td>
                 </tr>
                 <tr>
                     <td>Nicsaii</td>
                     <td>something@gmail.com</td>
                 </tr>
                 <tr>
                     <td>Chris</td>
                     <td>something@gmail.com</td>
                 </tr>
             </tbody>
        </table>
    </body>
</html>