<!DOCTYPE html>    
<html>
    <head>
    <link rel="stylesheet" href="css/style.css">
    <title> Services </title>
</head>
    <body>
<main>
<header>
    <h1 id = "title"><a href="index.html">School Connect</a></h1>
</header>

</main>
<div>
<h1> Services</h1>
<h6><a href="index.html">Return to Homepage</a></h6>
</div>
<br>
<hr>
<br>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eaque unde quam ullam, accusamus assumenda tempore debitis perspiciatis temporibus dolor illo voluptates amet maxime at laudantium? Unde nobis repellat dolor.</p>
<h3><a href="/services/forums.html">Discussion Forums</a></h3>
<!-- forums link -->
<h3><a href= "/services/otherSchools.html">Meet Students from Other Schools</a></h3>
<!-- meeting students from other schools link -->
<h3><a href= "/services/studyGroup.html">Looking for a Study Group</a></h3>
<!-- looking for a study group link -->
<h3><a href= "/services/yourSchool.html">Meet Students from Your School</a></h3>
<!-- meeting students from your school link -->

</body>

</html>